@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.founder-section {
    background-image: url('./assets/istockphoto-482864928-612x612.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content{
    margin-left: 120px;
  }
  