@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}
.blue-section {
  background-image: url('./assets/5000x3000.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.founder-section {
  background-image: url('./assets/bg-g.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  margin-left: 120px;
}
.content-c {
  margin-left: 120px;
}

.content {
  margin-left: 20px; /* Default margin for small screens */
}



@media (min-width: 390px) {
  .content-a {
    margin-left: 90px;
  }
  .font-s{
    font-size: 3.2rem;
  }
  .logo-img{
    margin-top: 30px;
    margin-bottom: -30px;
  }
 
}
@media (min-width: 640px) {
  /* Apply for screens 640px and up (e.g., tablets) */
  .content {
    margin-left: 40px;
  }
}

@media (min-width: 768px) {
  /* Apply for screens 768px and up (e.g., small laptops) */
  .content {
    margin-left: 60px;
  }
}

@media (min-width: 1024px) {
  /* Apply for screens 1024px and up (e.g., laptops and desktops) */
  .content {
    margin-left: 80px;
  }
}

@media (min-width: 1280px) {
  /* Apply for screens 1280px and up (e.g., large desktops) */
  .content {
    margin-left: 120px; /* Full margin for large screens */
  }
}
